{% if block.language %}
    {% set lang = block.language %}
{% else %}
    {% set lang = 'bash' %}
{% endif %}

<div class="my-10">
{% highlight lang %}
    {{ block.content | safe }}
{% endhighlight %}
</div>