@import '../utils/breakpoints';
@import '../utils/sizes';
@import '../utils/grid';
@import '../utils/colors';
@import '../utils/typography';

.header {
  padding: 1rem;
  padding-bottom: 3rem;
  background-color: map-get($types, work);
  color: $color-lime;

  @include media-breakpoint-up(md) {
    grid-column: 1 / 2;
  }
}

.title {
  margin-top: 0;
}

.content {
  @include media-breakpoint-up(md) {
    grid-column: 2 / 3;
  }
}

.type {
  color: $color-lime;
}

.date {
  @include font(display);

  display: block;
  margin-top: 0.25rem;
  font-size: 0.6rem;
  font-style: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.separator {
  width: 10rem;
  height: 1px;
  border: 0;
  margin-right: auto;
  margin-left: 0;
  background-color: $color-lime;
}
