---
title: Sites
layout: page.njk
---

<section>
    <h2>Case Studies</h2>
    <p>A select few sites that deserve special recognition and discussion.</p>
    {% include "partials/case-study-loop.njk" %}
</section>

<section>
    <h2>All Sites</h2>
    <p>Everything worth mentioning that I've worked on over the last several years.</p>
    {% include "partials/site-list.njk" %}
</section>