@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hack-regular-subset.woff2') format('woff2'), url('../fonts/hack-regular-subset.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/hack-bold-subset.woff2') format('woff2'), url('../fonts/hack-bold-subset.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/hack-italic-subset.woff2') format('woff2'), url('../fonts/hack-italic-subset.woff') format('woff');
}

code {
  font-family: 'Hack';
}
