@import '../utils/typography';
@import '../utils/colors';

.root {
  @include font(display);

  padding: 0;
  margin: 0;
  color: $color-charcoal;
  font-size: 0.6rem;
  font-style: bold;
  letter-spacing: 0.1em;
  list-style: none;
  text-transform: uppercase;
}
