@import '../utils/typography';
@import '../utils/colors';

.root {
  @include font(display);

  margin: 1rem 0;
}

ul {
  padding: 0;
  margin: 0;
  font-size: 0.6rem;
  font-style: bold;
  letter-spacing: 0.1em;
  list-style: none;
  text-transform: uppercase;
}

li {
  margin: 0.25rem 0;
}

a svg {
  position: relative;
  top: 0.1rem;
  margin-left: 0.25rem;
}
