@import '../utils/colors';
@import '../utils/typography';
@import '../utils/sizes';
@import '../utils/breakpoints';
.root {
  font-size: 0.7rem;
}

.inner {
  display: flex;
  padding-top: 0.5rem;
  border-top: 1px solid $color-pine;
}

.thumbsup {
  margin: 0 auto;
}
