@import '../utils/colors';
@import '../utils/typography';
@import '../utils/sizes';
@import '../utils/grid';
@import '../utils/breakpoints';

.root {
  display: flex;
  padding: 1em 0;

  @include media-breakpoint-up(md) {
    @include grid();
  }
}

.brand {
  text-align: right;

  @include media-breakpoint-up(md) {
    grid-column: 1 / 2;
  }
}

.link {
  display: inline-block;
  width: 150px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  @include media-breakpoint-up(md) {
    max-width: $content-block;
    grid-column: 2 / 3;
  }
}

.headerBrandTitle {
  display: inline-block;
  padding-bottom: 0.8rem;
  border-bottom: 3px solid $color-pine;
  margin: 0;
  margin-bottom: 0.75rem;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 0.95;
}

.headerTagline {
  font-size: 1.33rem;
  font-weight: normal;
  @include font(body);
}
