@import '../utils/colors';
@import '../utils/typography';
.root {
  display: flex;
  padding: 1em 0;
}

.brand {
  text-align: right;
}

.link {
  display: inline-block;
  width: 150px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.headerBrandTitle {
  display: inline-block;
  padding-bottom: 0.8rem;
  border-bottom: 3px solid $color-pine;
  margin: 0;
  margin-bottom: 0.75rem;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 0.95;
}

.headerTagline {
  font-size: 1.33rem;
  font-weight: normal;
  @include font(body);
}
