@import '../utils/breakpoints';
@import '../utils/sizes';
@import '../utils/grid';

.root {
  @include media-breakpoint-up(md) {
    @include grid();
  }
}

.sidebar {
  @include media-breakpoint-up(md) {
    @include sidebar();
  }
}

.list {
  @include media-breakpoint-up(md) {
    display: grid;
    grid-column: 2 / 3;
    grid-column-gap: 1rem;
    grid-row-gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  }
}

.preview {
  @include media-breakpoint-up(md) {

  }
}
