@import '../utils/typography';

pre,
code[class*="language-"],
pre[class*="language-"] {
  font-size: 16px;
  background: $color-charcoal;
  @include font(mono);
}

pre[class*="language-"] {
  border-left: 6px solid $color-pine;
}