$color-lime: #85FFC7;
$color-grapefruit: #F67E7D;
$color-pine: #297373;
$color-ash: #E6E6E6;
$color-charcoal: #39393A;

$types: (
  work: #ef709d,
  code: #07beb8,
  tool: #9ac4f8,
  life: #e2a0ff,
  placeholder: #9ac4f8,
);
