/*!
 *  Hack typeface https://github.com/source-foundry/Hack
 *  License: https://github.com/source-foundry/Hack/blob/master/LICENSE.md
 */

/* FONT PATHS
 * -------------------------- */

@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hack-regular-subset.woff2') format('woff2'), url('../fonts/hack-regular-subset.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/hack-bold-subset.woff2') format('woff2'), url('../fonts/hack-bold-subset.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/hack-italic-subset.woff2') format('woff2'), url('../fonts/hack-italic-subset.woff') format('woff');
}

$fonts: ( display: ( font-family: "'Raleway', sans-serif"),
body: (font-family: "'Zilla Slab', serif"),
mono: (font-family: "Hack, monospace"));
@mixin font($type) {
  @each $key,
  $value in map-get($fonts,
  $type) {
    #{$key}: #{$value};
  }
}
